<div class="col-md-12">
  <div class ="row">
    <div class="col-md-12">
      <h4><%= t('bunsho.download.title') %></h4>
    </div>
  </div>

  <% if @document && @document.can_download? %>
  <div class="row">
    <div class="col-md-12">
      <%= t('bunsho.download.ready') %>
    </div>
  </div>

  <div class="row dtu-spacing">
    <div class="col-md-offset-2 col-md-10">
      <% if @document.drm %>
        <%= link_to t('bunsho.download.text'), '#', :'data-toggle' => 'modal', :'data-target' =>'#drm-fileopen-modal', :class => 'btn btn-primary' %>
      <% else %>
        <%= link_to t('bunsho.download.text'), document_file_path(@document),
            :class => 'btn btn-primary' %>
      <% end %>
      <small>(<%= t('bunsho.download.left', :count =>
        @document.available_count) %>)</small>
    </div>
  </div>

  <div class="row dtu-download-spacing">
    <div class="col-md-1">
      <b><%= t('bunsho.copyright') %></b>
    </div>
    <div class="col-md-11">
      <%= t('bunsho.copyright_text') %>
    </div>
  </div>

  <% else %>
    <% if @document %>
      <div class="row">
        <div class="col-md-12">
          <%= t('bunsho.download.no_more') %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <%= t('bunsho.document.unknown') %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-12 dtu-spacing">
      <%= t('bunsho.question') %>
      <a href="mailto:<%= t('bunsho.contact_mail') %>">
        <%= t('bunsho.contact_mail') %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= t('bunsho.contact') %>
      <a href="<%= t('bunsho.contact_url') %>">
        <%= t('bunsho.contact_url') %>
      </a>
    </div>
  </div>
</div>

<div id="drm-fileopen-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          FileOpen-plugin required
          <a class="close pull-right" data-dismiss="modal" data-target="#drm-fileopen-modal">&times;</a>
        </h4>
      </div>
      <div class="modal-body">
        <p>The FileOpen-plugin is required to open this document, since it is protected by Digital Rights Management (DRM).</p>
        <p>Please download the plugin at <a href="http://plugin.fileopen.com/plugininstallpage.html" target="_blank">http://plugin.fileopen.com/plugininstallpage.html</a>.</p>
        <p>
          <strong>Please Notice:</strong>
          <ul>
            <li>Once opened on a particular device, the rights to that document are "attached" to that device.</li>
            <li>After initial opening of the pdf-file, you have access authorisation for 30 days – the document expire and can not be opened thereafter.</li>
            <li>You can only print the document out twice.</li>
            <li>Storage is prohibited.</li>
          </ul>
        </p>
        <p>Read more about Digital Rights Management at <a href="https://www.tib.eu/en/borrowing-ordering/tib-document-delivery/prices/licence-agreements/digital-rights-management/" target="_blank">https://www.tib.eu/en/borrowing-ordering/tib-document-delivery/prices/licence-agreements/digital-rights-management/</a></p>
      </div>
      <div class="modal-footer">
        <%= link_to t('bunsho.download.text'), document_file_path(@document),
            :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

