<div class="span12">
  <div class ="row">
    <div class="span12">
      <h4><%= t('bunsho.download.title') %></h4>
    </div>
  </div>

  <% if @document && @document.can_download? %>
  <div class="row">
    <div class="span12">
      <%= t('bunsho.download.ready') %>
    </div>
  </div>

  <div class="row dtu-spacing">
    <div class="offset2 span10">
      <%= link_to t('bunsho.download.text'), document_file_path(@document),
          :class => 'btn btn-primary' %>
      <small>(<%= t('bunsho.download.left', :count =>
        @document.available_count) %>)</small>
    </div>
  </div>

  <div class="row dtu-download-spacing">
    <div class="span1">
      <b><%= t('bunsho.copyright') %></b>
    </div>
    <div class="span11">
      <%= t('bunsho.copyright_text') %>
    </div>
  </div>

  <% else %>
    <% if @document %>
      <div class="row">
        <div class="span12">
          <%= t('bunsho.download.no_more') %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="span12">
          <%= t('bunsho.document.unknown') %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="span12 dtu-spacing">
      <%= t('bunsho.question') %>
      <a href="mailto:<%= t('bunsho.contact_mail') %>">
        <%= t('bunsho.contact_mail') %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= t('bunsho.contact') %>
      <a href="<%= t('bunsho.contact_url') %>">
        <%= t('bunsho.contact_url') %>
      </a>
    </div>
  </div>
</div>

